$primary-color-1: #5410de;
$primary-color-2: #ea4c03;
$white: #ffffff;
$grey: #707070;
$white-opacity-80: #ffffff24;
$white-opacity-70: #ffffff2b;
$half-white: #f9f9f9;
$gray: #cccccc;
$light-gray: #cccccc85;
$drak-orange: #bc3b00;